@font-face {
  font-family: "theme";
  src: url("assets/fonts/NunitoSans-Regular.ttf");
}

html{
	font-family: "theme";
}

body {
	margin: 0px;
}

nav {
	background-color: #8fdee6;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

.images, .menu {
	display: inline-block;
}

.menu {
	float: right;
	margin: 30px;
}

.menu ul {
	list-style: none;
	padding-left: 0px;
	margin: 0;
}

.menu ul li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 0px;
}

.menu ul li a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 20px 10px 20px 10px;
}

.menu ul li a:hover {
	background-color: #8fdee6;
	color: gray;
	transition: all 0.5s ease;
}

#loginButton {
	color: #8fdee6;
	border-radius: 50px;
	background: white;
	padding: 10px 20px;
}

#loginButton:hover {
	background-color: #7ec3ca;
	color: white;
}

.container {
	display: inline-block;
}

.img1 {
	width: 60px;
	height: auto;
	padding: 10%;
	margin-left: 20%;
}

.img2 {
	width: 100px;
	height: auto;
	margin: 5px;
}

/* --------------------- HEADER SECTION ----------------------------*/
header p {
	margin: 0;
}

#home {
	padding-top: 100px;
}

.hero-container {
	text-align: center;
	display: flex;
}

.btn-updates {
	background-color: #8fdee6;
	display: inline-block;
	padding: 10px 25px;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	text-decoration: none;
}

.btn-updates:hover {
	background-color: white;
	color: #8fdee6;
	transition: all 0.5s ease;
}

.hero-container .hero-left, .hero-container .hero-right {
	width: 50%;
}

.hero-container .hero-right {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
}

.hero-container .hero-right img {
	max-width: 70%;
	animation: float 6s ease-in-out infinite;
}

.hero-container .hero-left {
	font-size: 40px;
	padding-left: 5%;
	padding-top: 10%;
	color: #1a1919;
}

#actionButtonContainer {
	width: 50%;
}

.actionButton {
	display: inline-block;
	border-radius: 200px;
	padding: 2%;
	width: 25%;
	background: #7ec3ca;
	border: none;
	margin-left: 22.5%;
	color: whitesmoke;
	cursor: pointer;
}

.actionButton:hover {
	background: white;
	border: solid 2px #7ec3ca;
	color: #7ec3ca;
	transition: all 0.5s ease;
}

#actionLogin {
	background: white;
	border: solid 2px #7ec3ca;
	color: #7ec3ca;
	margin-left: 5%;
}

#actionLogin:hover {
	background: #7ec3ca;
	color: whitesmoke;
	transition: all 0.5s ease;
}

/* --------------------- ABOUT ME SECTION ----------------------------*/
/* Feature 1 */
.feature {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
}

.feature1 {
	background-color: #FFFFFF;
}

.feature .f1-left, .feature .f1-right,
.feature .f2-left, .feature .f2-right {
	width: 50%;
}

.feature1 .f1-left, .feature2 .f2-right {
	padding-left: 15%;
	padding-right: 15%;
}

.feature1 .f1-left img, .feature2 .f2-right img {
	max-width: 100%;
	animation: float 6s ease-in-out infinite;
	margin-top: 5%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

h4 {
	font-size: 35px;
	margin-bottom: 0px;
}

.feature1 .f1-right {
	text-align: right;
}

.feature2 .f2-left {
	text-align: left;
}

.feature2 .f2-left h5, .feature1 .f1-right h5 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 24px;
	color: gray;
	font-style: italic;
}

.feature1 .f1-right {
	margin-right: 14%;
	line-height: 40px;
	font-size: 22px;
	color: black;
	margin-top: 8%;
}

.feature2 .f2-left {
	margin-left: 14%;
	line-height: 40px;
	font-size: 22px;
	color: black;
	margin-top: 8%;
}

/* Feature 2 */
.feature2 {
	background-color: #d7f9fd;
}

/* ---------------------FOOTER ----------------------------*/
footer {
	background-color: #8fdee6;
	display: flex;
}

.footer-text {
	width: 50%;
}

.footer-text p {
	margin-top: 0px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.footer-text .social-icons i {
	margin: 0 2%;
	font-size: 1.5em;
}
